
nav{
  background: #5ca0d3;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 10;
  padding: 20px;
  color: white;

  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;

    li{
      padding: 0 50px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}