$primary-color: #1089ff;
$color: #494949;
nav{
  background: transparent;
  color: $color;
  position: fixed;
  width: 100%;
  display: flex;

  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;

    li{
      padding: 0 50px;
      a{
        color: $color;
        text-decoration: none;
      }
    }
  }
}