.shadow{
  box-shadow: 2px 2px 3px 3px rgba(189, 186, 186, 0.6);
}

.signupPageWrapper{
  width: 70%;
  margin: 10px auto;
  border: none;
  padding: 50px;
}

.signupText{
  margin: 5px auto;
  text-align: center;
}
form{
  width: 100%;
}
.socialSignup{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
.socialMessage{
  margin: 20px 0;
  text-align: center;
}